.selectBorder {
    border: none;
    font-size: 15px;
}

.searchIcon {
    color: #9400d3
}

.searchInput {

    text-decoration-color: black;
    border-radius: 10px;
}
.btnColor{
  background-color:#8347AD;
  color: white; 
}